[submodule "extern/stlink"]
	path = extern/stlink
	url = https://github.com/stlink-org/stlink.git
[submodule "extern/libopencm3"]
	path = extern/libopencm3
	url = https://github.com/libopencm3/libopencm3
